1) Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(num):
    length=len(str(num))
    i=1
    reverse_num=''
    dummy=num
    while i<=length:
        reverse_num+=(str(num%10))
        num=num//10
        i+=1
    if str(dummy)==reverse_num:
        print(True)
    else:
        print(False)

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

2) Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [7]:
import math
def multiply_nums(num_str):
    numbers=list(map(int,num_str.split(", ")))
    print(math.prod(numbers))

In [8]:
multiply_nums("2, 3")

6

In [9]:
multiply_nums("1, 2, 3, 4")

24

In [10]:
multiply_nums("54, 75, 453, 0")

0

In [11]:
multiply_nums("10, -2")

-20

3) Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

In [12]:
def square_digits(num):
    numbers=[int(d) for d in str(num)]
    sqr_val=''
    for i in numbers:
        sqr_val=sqr_val+str(i**2)
    print(sqr_val)

In [13]:
square_digits(9119)

811181

In [14]:
square_digits(2483)

416649

In [15]:
square_digits(3212)

9414

4) Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [16]:
def setify(numbers):
    return list(set(numbers))

In [17]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [18]:
setify([4, 4, 4, 4])

[4]

In [19]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [20]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

5) Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

In [21]:
def mean(num):
    numbers=[int(d) for d in str(num)]
    print(int(sum(numbers)/len(numbers)))

In [22]:
mean(42)

3

In [23]:
mean(12345)

3

In [24]:
mean(666)

6